<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Unpaid Overtime Calculator</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <section class="min-vh-100 bg-dark">
        <div class="container">
            <div class="row">
                

                    {{{body}}}

                </div>
                <p class="mt-5 text-white text-center mb-5">*While best efforts are made to ensure quality of data is optimum, the possibility of corrupted or inaccurate data cannot be excluded. The you have the right to switch off team make no representation or warranties, expressed or implied, as to the accuracy or completeness of the information reported within the application.
                </p>
            </div>
        </div>
    </section>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}



</body>

</html>