<table class="table text-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Industry</th>
            <th scope="col">Lunch</th>
        </tr>
    </thead>
    <tbody>
        {{#each users as | user |}}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.email}} </td>>
            <td>{{user.industry}}</td>
            <td>{{user.lunch}}</td>
        </tr>

        {{/each}}
    </tbody>
</table>