<div class="row">
    <div class="col">
        <h2 class="text-white text-center mb-5"><span>You worked {{X}} hours overtime</span> people worked <span>{{Y}}</span>
            hours of
            underpaid overtime, which cost them a total of <span>${{Z}}</span> </h2>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-8 col-sm-12">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">X from Y Industry was underpaid $Z</li>
            <li class="list-group-item">X from Y Industry was underpaid $Z</li>
            <li class="list-group-item">X from Y Industry was underpaid $Z</li>
            <li class="list-group-item">X from Y Industry was underpaid $Z</li>
            <li class="list-group-item">X from Y Industry was underpaid $Z</li>
        </ul>
    </div>
</div>