html{
 scroll-behavior: smooth;
}


.red {
    color: rgb(186, 17, 17);
}

.fa-hourglass-half {
    color: rgb(186, 17, 17);
    font-size: 40px;
}

.fa-solid {
    color: rgb(140, 140, 140);
    font-size: 40px;
}

.fa-toggle-off {
    color: rgb(186, 17, 17);
}

#industry {
    display: none;
}

 input[type='radio'] { 
     transform: scale(1.25); 
 }